<div class="container-fluid">
	<div class="row">
	</br>
		<div class="col-md-3" ng-repeat="i in getSubject()" style="text-align: center;">
			<h5><a ng-href="#!/{{i.name}}">{{i.name}}</a></h5>
		</div>
		<!--<div class="col-md-3">
			<h5><a href="">ARCHITECTURE</a></h5>
		</div>
		<div class="col-md-3">
			<h5><a href="">DRAWINGS</a></h5>
		</div>
		<div class="col-md-3">
			<h5><a href="">OTHER WORKS</a></h5>
		</div>-->
	</div>
	</br>
	</br>
	<div class="row">
		<div class="col-md-3" style="text-align: center;">
			<a href="" class="pop"><img  id="myImg" src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12965014_1992998594257673_860015033_n.jpg" style="width: 20em;"></a>
		</div>

		<div class="col-md-3" style="text-align: center;">
			<a href="" class="pop"><img id="myImg" src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12940775_919110154864266_1824661327_n.jpg" style="width: 20em;"></a>
		</div>
		<div class="col-md-3" style="text-align: center;">
			<a href="" class="pop"><img id="myImg" src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12950463_995096640581880_411425636_n.jpg" style="width: 20em;"></a>
		</div>
		<div class="col-md-3" style="text-align: center;">
			<a href="" class="pop"><img id="myImg" src="https://scontent-arn2-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/12912779_1088300431192647_1134382175_n.jpg" style="width: 20em;"></a>
		</div>

		<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">              
		      <div class="modal-body">
		      	<button type="button" class="btn btn-link close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <img src="" class="imagepreview" style="width: 100%;" >
		      </div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>
