html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: white;
}


h1, h2, h3, h4, h5, li, a {
  color: black;
  font-family: futura;
}

a:hover {
  color: lightgrey;
  text-decoration: none;
}

a:selected {
  color: lightgrey;
}


.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  color: black;
  /*border-top: 1px solid black;*/
  font-family: futura;
}

#customHeader {
  text-align: center;
  width: 100%;
  margin-top: 2em;
  color: black;
  border: none;
  text-decoration: none;
}


#customHeader2:hover {
  color: lightgrey;
  text-decoration: none;
}

#customHeader2:visited {
  text-decoration: none;
}

#everything {
  padding: 0;
}


#myImg:hover {opacity: 0.4;}
